.header-container {
  position: fixed;
  width: 100%;
  background-color: #65bf1f;
  padding: 0px 30px;
  height: 55px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.SignLog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 7px;
}

.SignLog a {
  text-decoration: none;
  margin: 10px;
  color: white;
  padding: 0px 10px;
  font-weight: bold;
  line-height: initial;
}
.SignLog a:hover {
  color: black;
  cursor: pointer;
}
#logOut {
  text-decoration: none;
  margin: 10px;
  color: white;
  padding: 0px 10px;
  font-weight: bold;
  line-height: initial;
}
#logOut :hover {
  color: black;
  cursor: pointer;
}
