*{
  margin: 0;
  padding: 0;
}
.over {
  background-image: url(../../public/images/roadtrip.jpg);
  background-size: cover;
  background-position: center;
  background-color: #2b2d2e;
  width: 100%;
  min-width: 290px;
  height: 500px;
  margin-top: -5px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.over div {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}
.over h1 {
  color: #ffffff;
  font-size: 31px;
  font-weight: 700;
  line-height: 0.1;
}
.over p {
  text-align: center;
  margin: 6%;
  color: #ffffff;
  font-size: 19px;
  line-height: 1.1;
  font-weight: 500;
  text-rendering: optimizelegibility;
}
.btn-service a {
  padding: 9px 27px;
  background-color: rgba(0, 0, 0, 0.34902);
  background-image: none;
  margin: 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  color: white ;
  text-decoration: none;
}
.btn-service a:hover {
  background-color: #65bf1f;
}

.intro {
  width: 80%;
  margin: 15px auto;
  display: flex;
  height: 300px;
}
.intro div {
  margin: 40px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 50%;
}
.intro h1 {
  padding: 10px 0px;
  font-size: 1.6em;
}
.btn-driver a {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #65bf1f;
  color: #ffffff;
  border: 1px solid #65bf1f;
  font-weight: bold;
  margin: 2px 0px;
  border-radius: 25px;
  width: 40%;
  text-decoration: none;
}
.btn-driver:hover {
  opacity: 0.8;
}
.block1 {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.block1 div {
  margin: 8% auto;
}
.block1 h1 {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #d0d0d0;
  font-weight: bold;
  border: none;
  margin: 0px;
  padding: 10px 0px;
  font-size: 1.6em;
}
ul li {
  font-size: 16px;
}
.block1 img {
  padding-top: 10px;
  width: 40%;
  height: 20%;
  margin: 5%;
}
.title {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #d0d0d0;
  font-weight: bold;
  border: none;
  margin: 0px;
  padding: 10px 0px;
  font-size: 1.6em;
  text-align: center;
}
.block2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap;
}

.blk-2x {
  display: flex;
  width: 29%;
  align-items: center;
  margin: 10px;
  flex-direction: column;
}
.blk-2x h2 {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #d0d0d0;
  font-size: 19px;
  font-weight: bold;

  margin: 10px;
}
.blk-2x img {
  width: 150px;
}
.blk-2x p {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  width: 84%;
} 
.tag{
  text-align: center;
}
.block3{
  display: flex;
  width: 72%;
  margin: 10px auto;

}
.block3 img{ 
  width: 23%; 
  margin: 10px;
} 
.footer{
  background-color: #65BF1F;
  height: 40px;
  display: flex;
  align-items: center;
}
.footer p{ 
 text-align: center; 
 font-weight: 500;
 color: white; 
 height: 25px; 
 margin: 0 auto;
}